<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <link rel="shortcut icon" type="image/png"
     href="http://www.stuorg.iastate.edu/esw/Images/Standard/eswico.png" />
     
 <link href="http://www.stuorg.iastate.edu/esw/builtTheme.css" rel="stylesheet" type="text/css" />

     
  <title>ESW International Projects</title>

  
  
  
</head><body>
<table width="100%" height="100%" border="0" cellpadding="2" cellspacing="2">
<td class="esw_side">
</td>
<td style="width: 956px;">

<img src="Images/Standard/esw.PNG" alt="logo" style="width: 482px; height: 106px;"><br>

<img style="width: 954px; height: 13px;" alt="line" src="Images/Standard/line2.PNG" repeat="yes" align="middle"><br>

<br>

<table style="text-align: left; width: 967px; height: 600px;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: top; width: 25%;"> <a href="homepage.html" class="nav" title="Home">Home </a><a class="nav" href="file:///C:/Documents%20and%20Settings/Michael/Desktop/ESW%20Website/ESW%20International%20Projects.html" title="International Projects">International Projects</a> <a class="nav" href="Local%20Projects.html" title="Local Projects">Local
Projects</a> <a target="_parent" class="nav" href="http://www.stuorg.iastate.edu/esw/Past%20Projects.html" title="Past Projects">Past Projects</a><a href="page3.html"> </a><a class="nav" href="Calendar.html" title="Calendar">Calendar</a><a class="nav" href="http://www.stuorg.iastate.edu/esw/ESW_Sustainable_Courses/Departments.html" title="Sustainability Courses" target="_parent">Sustainability
Courses</a><a target="_parent" class="nav" href="http://www.stuorg.iastate.edu/esw/Sponsors.html" title="Sponsors">Sponsors</a><a class="nav" href="Contacts.html" title="Contacts">Contact
Us</a><a class="nav" href="http://www.eswusa.org/" title="ESW National" target="_blank">ESW
National</a><br>
      <br>
      <span class="nav"></span><span class="nav"></span><span class="nav"></span> </td>
      <td style="text-align: left; vertical-align: top; width: 80%;">
      <center><font color="#003300" face="Trebuchet MS" size="6"> ESW
International Projects</font></center>
      <br>
      <span style="font-weight: bold;"></span><font style="font-family: Trebuchet MS;" face="Trebuchet MS" size="3">ESW
has aimed at providing sustainability around the world to communities
that are in absolute need of support.<br>
      </font>
      <h2><small><small><span style="font-family: Trebuchet MS;">Current
Project<br>
      </span></small></small></h2>
      <font face="Trebuchet MS" size="3"> </font>
      <ul>
        <li><span style="font-family: Trebuchet MS;">We are working
with EOS International (Engineering Obtaining Sustainability) to
formulate project ideas. For more information, please contact Noah
Bergman at&nbsp;nbergman@iastate.edu or Corona Kenowski at kenowski@iastate.edu</span><font face="Trebuchet MS" size="3"><big><small> </small></big></font></li>
      </ul>
      <font face="Trebuchet MS" size="3"><big><small> </small></big></font>
      <span style="font-family: Trebuchet MS;"></span>
      <h2><small><span style="font-family: Trebuchet MS;">Previous
Project<br>
      </span></small></h2>
      <ul>
        
        <li><span style="text-decoration: underline;"><span style="font-style: italic;"></span></span><span style="font-family: Trebuchet MS;"><span style="text-decoration: underline;"><span style="font-style: italic;"><span style="text-decoration: underline;"><span style="font-style: italic;"><span style="font-family: Trebuchet MS;">Solar Lighting</span></span></span></span></span><span style="font-family: Trebuchet MS;">:
The ISU ESW team and Kansas State University's Engineers Without
Borders chapter went to India to assess the potential use of solar
lights to create paths in villages. Solar lighting is crucial for these
communities because they are off of the electrical grid. There are
several villages in the area that are connected by paths. currently
villagers cannot go on the paths at night safely because of a lack of
portable lighting to bring with them. The light will be solar powered,
using LED lights.</span></span><span style="font-family: Trebuchet MS;"></span></li>
</ul>
      <span style="font-family: Trebuchet MS;"> </span><span style="font-family: Trebuchet MS;"></span> <span style="font-family: Trebuchet MS;"> </span></td>
    </tr>
    <tr><td></td><td>
<!--inside sencond table-->
<br>
<br>
<font face="Trebuchet MS" size="1">
<center>Updated 5/1/14
<br>
<a href="homepage.html">Home</a>
<a href="ESW%20International%20Projects.html">International
Projects</a> <a href="Local%20Projects.html"> Local
Projects</a> <a href="Calendar.html"> Calendar</a>
Contact
Us
</center>
</font>
</td></tr>
  </tbody>
</table>

</td>
<td class="esw_side">
</td></table>

</body></html>