<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<link rel="shortcut icon"
     href="http://www.stuorg.iastate.edu/esw/Images/Standard/eswico.ico" />



 

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Minute Report</title>

<style type="text/css">
a.nav, a.nav:link, a.nav:visited {display:block; width:200px;
height:50px; background: url(http://www.stuorg.iastate.edu/esw/Images/Standard/Menu/chromebg.gif); solid #000; margin-top:2px; text-align:center; text-decoration:none;
font-family:verdana, arial, sans-serif; font-size:12px; color:#006633;
line-height:25px; overflow:hidden;}
a.nav:hover {color:#003300; background: url(http://www.stuorg.iastate.edu/esw/Images/Standard/Menu/chromebg2.gif);} a.nav:active {color:#000066; background: url(http://www.dynamicdrive.com/cssexamples/media/chromebg.gif); }
#left { text-align: left; }
</style></head><body>
<img src="Images/Standard/esw.PNG" alt="logo" style="width: 482px; height: 106px;"><br><img style="width: 100%; height: 13px;" alt="line" src="Images/Standard/line2.PNG" repeat="yes" align="middle"><br>
<br>
<table style="text-align: left; width: 100%; height: 314px;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top; width: 25%;">
<a href="homepage.html" class="nav" title="Home">Home
</a><a class="nav" href="ESW%20International%20Projects.html" title="International Projects">International Projects</a> <a class="nav" href="Local%20Projects.html" title="Local Projects">Local
Projects</a>
      <a target="_parent" class="nav" href="http://www.stuorg.iastate.edu/esw/Past%20Projects.html" title="Past Projects">Past Projects</a><a href="page3.html"> </a><a class="nav" href="Calendar.html" title="Calendar">Calendar</a><a class="nav" href="http://www.stuorg.iastate.edu/esw/ESW_Sustainable_Courses/Departments.html" title="Sustainability Courses" target="_parent">Sustainability
Courses</a><a target="_parent" class="nav" href="http://www.stuorg.iastate.edu/esw/Sponsors.html" title="Sponsors">Sponsors</a><a class="nav" href="file:///C:/Documents%20and%20Settings/Michael/Desktop/ESW%20Website/Contacts.html" title="Contacts">Contact
Us</a><a class="nav" href="http://www.eswusa.org/" title="ESW National" target="_blank">ESW
National</a><span class="nav"></span><span class="nav"></span><span class="nav">
<a class="nav" href="http://www.stuorg.iastate.edu/esw/Minute%20Report.html" title="Minute Report">Minute Report</a></span>
</td>

<td style="text-align: left; vertical-align: top;"><p><font face="Trebuchet MS" size="5">

</font><center>
  <p><strong id="docs-internal-guid-4943064d-428f-99cf-28f5-87ad076ef828"><img src="https://lh5.googleusercontent.com/icqvrISU8IlEUVhmg8M14BY60P5XVcxbpgirMMmf3rvRF-H-TdkM7OHqLlIMfqor_03RXApvGG763FblesJUtZMrDhj6SkR51ATtz20HGZ4sJUCqNLxjUxIZkS0a9kF9" width="28px;" height="57px;"/>Rain Garden Project<img src="https://lh5.googleusercontent.com/icqvrISU8IlEUVhmg8M14BY60P5XVcxbpgirMMmf3rvRF-H-TdkM7OHqLlIMfqor_03RXApvGG763FblesJUtZMrDhj6SkR51ATtz20HGZ4sJUCqNLxjUxIZkS0a9kF9" width="28px;" height="57px;"/></strong></p></center>
  <p><strong id="docs-internal-guid-4943064d-4294-779e-0417-fee450d187b2">Purpose: Rain gardens are an in&#64257;ltration-based stormwater management practice that relies on soils with good percolation rates to help manage rainfall to protect water quality.</strong></p>
  <center>
  <p><br>
 
    <strong id="docs-internal-guid-4943064d-4295-a0de-1c39-73a42c55020b"><img src="https://lh3.googleusercontent.com/DZ728p4atKwQiCF-q70TJ2PQve7FFrpYdtY93vH6BWm87M48YbldqkW1vdWwGYCqD2ndmXCr7XwFv6KemhazJVOKclOKDgwKM9P726yC8XLAND96VFCpUftEUjKr3cml" width="532px;" height="278px;"/></strong></p> 


</p> </center>
  <p><strong id="docs-internal-guid-4943064d-4294-779e-0417-fee450d187b2">
    Benefits: Can provide a habitat for wildlife, aesthetically pleasing, more maintainable than lawns and reduce storm drain and flooding.</strong></p>
  <center><p><strong id="docs-internal-guid-4943064d-4298-3d0e-2257-4abcd77ecf0e"><img src="https://lh4.googleusercontent.com/GhaUMgFkFaExf5iD-jnUglJa0HNyAvlEzB7ckvBZazdwZpgjRyyCNuHBTiG3yycTR1BmO9EskKvfYDZMCJ_iRip9861MG6hg7AmX6rL48SGd0OmxVamFuVPHnnus2LaN" width="361px;" height="267px;"/></strong><br>
  </p></center>


</td>
</tr>

</tbody>
</table>
<br>
<br>
<font face="Trebuchet MS" size="1">
<center>Updated 4-8-14
<br>
<a href="homepage.html">Home</a>
<a href="ESW%20International%20Projects.html">International
Projects</a> <a href="Local%20Projects.html"> Local
Projects</a> <a href="Calendar.html"> Calendar</a>
Contact
Us
</center>
</font>
</body></html>