<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  <link rel="shortcut icon" type="image/png"
     href="http://www.stuorg.iastate.edu/esw/Images/Standard/eswico.png" />

 <link href="http://www.stuorg.iastate.edu/esw/builtTheme.css" rel="stylesheet" type="text/css" />

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>ESW International Projects</title>


</head><body>
<table width="100%" height="100%" border="0" cellpadding="2" cellspacing="2">
<td class="esw_side">
</td>
<td style="width: 956px;">

<img src="Images/Standard/esw.PNG" alt="logo" style="width: 482px; height: 106px;"><br>
<img style="width: 954px; height: 13px;" alt="line" src="Images/Standard/line2.PNG" repeat="yes" align="middle"><br>
<br>
<table style="text-align: left; width: 965px; height: 375px;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top; width: 25%;">
<a href="homepage.html" class="nav" title="Home">Home </a><a class="nav" href="ESW%20International%20Projects.html" title="International Projects">International Projects</a> <a class="nav" href="Local%20Projects.html" title="Local Projects">Local
Projects</a> <a target="_parent" class="nav" href="../../Documents%20and%20Settings/Michael/Desktop/ESW%20Website/Past%20Projects.html" title="Past Projects">Past Projects</a><a href="page3.html"> </a><a class="nav" href="Calendar.html" title="Calendar">Calendar</a><a class="nav" href="http://www.stuorg.iastate.edu/esw/ESW_Sustainable_Courses/Departments.html" title="Sustainability Courses" target="_parent">Sustainability
Courses</a><a target="_parent" class="nav" href="http://www.stuorg.iastate.edu/esw/Sponsors.html" title="Sponsors">Sponsors</a><a class="nav" href="Contacts.html" title="Contacts">Contact
Us</a><a class="nav" href="http://www.eswusa.org/" title="ESW National" target="_blank">ESW
National</a><span class="nav"></span><span class="nav"></span><span class="nav"></span>
<span class="nav">
<a class="nav" href="http://www.stuorg.iastate.edu/esw/Minute%20Report.html" title="Minute Report">Minute Report</a></span>
</td>
<td style="text-align: left; vertical-align: top; width: 80%;">
<center><font color="#003300" face="Trebuchet MS" size="6">Past Projects<br>
</font></center>
      <br>
      <p style="font-family: Trebuchet MS;" class="MsoNormal"><big style="font-weight: bold;">Local Projects:</big><u><span style="font-style: italic;"><br>
</span></u></p>
      <p style="font-family: Trebuchet MS;" class="MsoNormal"><u><span style="font-style: italic;">Campus
Waste Feasibility</span></u>-<span style=""> </span>In 2008, ESW conducted a study towards the
adoption of solar powered trash composers that in effect will maximize
labor and capital cost around campus for Facilities Planning and
Management.<u><span style="font-style: italic;"><br>
</span></u></p>
      <p style="font-family: Trebuchet MS;" class="MsoNormal"><u><span style="font-style: italic;"> Energy Audits</span></u><span style=""></span>-
In the spring of 2008, an energy audit of Black Engineering was
completed, a full analysis of its energy usage with recommendations as
to where energy could be saved.<span style="text-decoration: underline;"><span style="font-style: italic;"><br>
</span></span></p>
      <p style="font-family: Trebuchet MS;" class="MsoNormal"><span style="text-decoration: underline;"><span style="font-style: italic;">Waste Wood Disposal</span></span>-
Due to the impending Emerald Ash Borer infestation (which will kill
nearly all the ash trees on campus), ISU has around 1200 trees to
dispose of.</p>


      
      
      
      
      
      <br>
      <big style="font-weight: bold;">International Projects:</big><font face="Trebuchet MS" size="5"><b><i><br><br></i><small><small>Uganda</small></small></b></font><small><small>&nbsp;</small></small><font face="Trebuchet MS" size="3"><br>
Through a partnership with a local Ugandan NGO,
Volunteer
Efforts for Development Concerns (VEDCO), <st1:placename w:st="on">Makerere</st1:placename>
<st1:placetype w:st="on">University</st1:placetype>
in <st1:place w:st="on"><st1:city w:st="on">Kampala</st1:city>,
<st1:country-region w:st="on">Uganda</st1:country-region></st1:place>
and the Center for Sustainable Rural Livelihoods (CSRL) at Iowa State
University (ISU), ESW members worked on several sustainable
development
projects such as household energy and water harvesting in the Kamuli
District
of Uganda. The farmers are subsistence farmers earning about US$100 a
year and
do not have electricity and proper drinking water in their homes.
Students from
ESW at ISU have spent the past three summers in Kamuli. They
successfully
constructed four rainwater harvesting systems and two biogas reactors
(which use
animal manure to generate energy for lighting).<br>
<br>
<font face="Trebuchet MS" size="4">Water
Harvesting
</font><br>
The water related projects were designed for rural farming families.
The first water project in 2006 was to collect surface water runoff for
irrigation of crops during the dry season ensuring that the crops would
be able to be harvested and feed the family. The second water project
in 2007 was collecting rainwater off of a roof a in a 1500 L brick
tank. Before the collector was installed the family of 8 had to walk 2
kilometers to get filthy water from the Nile River. ESW-ISU has
continued to investigate methods of improving the current rooftop
collector design. In Summer 2008, two new rooftop systems were
constructed.<br>
<br><br>
The project objectives for Summer
2009 are as follows:<o:p></o:p>
<ul style="margin-top: 0in;" type="disc">
<li class="MsoNormal" style="text-align: justify;">Check
and improve on the previously constructed collection systems.<o:p></o:p></li>
<li class="MsoNormal" style="text-align: justify;">Improve
on current rooftop design to remove &#8220;first flush&#8221; of dirty water.<o:p></o:p></li>
<li class="MsoNormal" style="text-align: justify;">Add
a filtration system to the existing systems.<o:p></o:p></li>
<li class="MsoNormal" style="text-align: justify;">Teach
the locals on construction of rooftop systems and household water
treatment.</li>
</ul>
</font><font face="Trebuchet MS" size="3">
</font></td>
</tr>
<tr>
<td><br>
</td>
<td style="text-align: left;"><font><font face="Trebuchet MS" size="3"><img class="esw_pastProjectPic" alt="uganda2" src="Images/International%20Projects/Uganda%20199.jpg"></font></font><font><font face="Trebuchet MS" size="3"> &nbsp;<img src="Images/International%20Projects/Uganda%20474.jpg" alt="uganda1" class="esw_pastProjectPic"></font></font></td>
</tr>
<tr>
<td><br>
</td>
<td style="text-align: left;"><font face="Trebuchet MS" size="3">
Preparing the roof
for gutter installation </font><font face="Trebuchet MS" size="3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
Student and locals
install a gutter system</font></td>
</tr>


<tr>
<td><br>
</td>
<td style="text-align: left;"><font><font face="Trebuchet MS" size="3"><img class="esw_pastProjectPic" alt="uganda3" src="Images/International%20Projects/Uganda1%20023.jpg">&nbsp;</font></font><font><font face="Trebuchet MS" size="3"><img class="esw_pastProjectPic" alt="uganda4" src="Images/International%20Projects/Uganda161b%20101.jpg"></font></font></td>
</tr>
<tr>
<td><br>
</td>
<td style="text-align: left;"><font face="Trebuchet MS" size="3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cistern construction </font><font face="Trebuchet MS" size="3">&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp;&nbsp;
Students and
community members with &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;completed water-harvesting
system</font></td>
</tr>

<tr>
<td><br>
</td>
<td style="text-align: center;"><font face="Trebuchet MS" size="3"><br>
</font></td>
</tr>
<tr>
<td><br>
</td>
<td><font face="Trebuchet MS" size="3"><font face="Trebuchet MS" size="4"><i>Biogas<br>
</i></font>Biogas digesters take organic
material like manure and
allow bacteria to break it down then capture the gas and allow it to be
used
for cooking or lighting. Two biogas digesters were built for two rural
farming
families to replace hazardous indoor wood fires which are a leading
cause of
blindness and respiratory problems.
ESW-ISU has continued
to monitor these bio-gas digesters and has worked on improving the
design of
the biogas digester. In Summer 2008 a gas lantern was
designed to provide lighting using the biogas from the digester</font><font face="Trebuchet MS" size="3"><font face="Trebuchet MS" size="4"><i>. <br>
</i></font></font></td>
</tr>
<tr>
<td><br>
</td>
<td style="text-align: center;"><img class="esw_pastProjectPic" alt="uganda5" src="Images/International%20Projects/Biogas%20Lantern%20On.jpg"></td>
</tr>
<tr>
<td><br>
</td>
<td style="text-align: center;"><font face="Trebuchet MS" size="3">Biogas-powered lantern</font>
</td></tr>

<tr><td></td><td>
<!--inside sencond table-->
<br>
<br>
<font face="Trebuchet MS" size="1">
<center>Updated 5/1/14
<br>
<a href="homepage.html">Home</a>
<a href="ESW%20International%20Projects.html">International
Projects</a> <a href="Local%20Projects.html"> Local
Projects</a> <a href="Calendar.html"> Calendar</a>
Contact
Us
</center>
</font>
</td></tr>
</tbody>
</table>

</td>
<td class="esw_side">
</td></table>
</body></html>